<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/netflixfavicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='images/netflix-logo.png') }}" alt="Netflix">
        <nav>
            {%block navegacao%}
            {%endblock%}
        </nav>
    </header>

    <main class="catalog">
        {%block conteudo%}
        {%endblock%}
    </main>

    <footer>
        <p>Fakeflix® 2023-2023 direitos reservados</p>
        <p>Desenvolvido com &#9829; por  Clara, Rian e Sofia</p>
    </footer>
</body>
</html>  