{%extends "base.html"%}

{%block titulo%}Dashboard{%endblock%}

{%block navegacao%}
    <ul>
        <li><a href="{{ url_for('home') }}">Início</a></li>
        <li><a href="{{ url_for('logout') }}">Sair</a></li>
    </ul>
{%endblock%}

{%block conteudo%}
    <section>
        <h2>Temas cadastrados:</h2>
        <ul>              
            {% for tema in parCatalogo %}
                <li><a href="{{url_for('editar_tema', tema=tema.nome)}}">{{tema.nome}}</a></li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h2>Séries cadastradas:</h2>
        <ul>
            {% for tema in parCatalogo %}
                {% for serie in tema.series %}    
                    <li>{{serie.titulo}}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </section>        
{%endblock%} 