{%extends "base.html"%}

{%block titulo%}Dashboard{%endblock%}

{%block navegacao%}
    <ul>
        <li><a href="{{ url_for('home') }}">Início</a></li>
        <li><a href="{{ url_for('logout') }}">Sair</a></li>
    </ul>
{%endblock%}

{%block conteudo%}
    <section>
        <h2>Temas cadastrados:</h2>
        <ul>              
            {% for tema in parCatalogo %}
                <li><a href="{{url_for('modificar_tema', tema=tema.nome)}}">{{tema.nome}}</a></li>
            {% endfor %}
        </ul>
        <h3>Adicionar tema:</h3>
        <form action="{{url_for('add_tema')}}" method="POST">
            <label>Nome: <input type="text" name="nome_tema" placeholder="Digite o nome"></label>
            <label for="series">Selecione as séries: </label>
            <select id="series" name="series" multiple>
                {%for tema in parCatalogo%}
                    {%for serie in tema.series%}
                        <option value="{{serie}}">{{serie.titulo}}</option>
                    {%endfor%}
                {%endfor%}
            </select>
            <input type="submit" value="Adicionar novo tema">
        </form>
    </section>
    <section>
        <h2>Séries cadastradas:</h2>
        <ul>
            {% for tema in parCatalogo %}
                {% for serie in tema.series %}    
                    <li><a href="{{url_for('modificar_serie', serie_titulo=serie.titulo)}}">{{serie.titulo}}</a></li>
                {% endfor %}
            {% endfor %}
        </ul>
    </section>        
{%endblock%} 