{%extends "base.html"%}

{%block titulo%}{{tema.nome}}{%endblock%}

{%block navegacao%}
    <ul>
        <li><a href="#">Início</a></li>
        <li><a href="{{ url_for('dashboard') }}">Gerenciar</a></li>
        <li><a href="{{ url_for('logout') }}">Sair</a></li>
    </ul>
{%endblock%}

{%block conteudo%}
<h1>Editar {{tema.nome}}</h1>
<form method="post" action="{{ url_for('dashboard') }}">
    <input type="text" name="nome_tema" placeholder="Insira o nome" value="{{tema.nome}}"/>
</form>
{%endblock%}