{%extends "base.html"%}

{%block titulo%}{{tema_dados}}{%endblock%}

{%block navegacao%}
    <ul>
        <li><a href="{{ url_for('home') }}">Início</a></li>
        <li><a href="{{ url_for('logout') }}">Sair</a></li>
    </ul>
{%endblock%}

{%block conteudo%}
    <h1>Editar {{tema_dados}}</h1>
    <form method="POST" action="{{ url_for('processar_tema', tema_nome=tema.nome) }}">
        <label>Nome do tema: <input type="text" name="nome_tema" placeholder="{{tema.nome}}" value="{{tema.nome}}"/><br/></label>
        <label for="series">Adicionar série: </label>
        <select name="series" id="series">
            <option value="None">Nenhum</option>
            {%for tema_c in catalogo%}
                {%for serie in tema_c.series%}
                    {%if serie not in tema.series%}
                        <option value="{{serie.titulo}}">{{serie.titulo}}</option>
                    {%endif%}
                {%endfor%}
            {%endfor%}
        </select><br/>
        <label for="remover-series">Remover série</label>
        <select name="remover_series" id="remover-series">
            <option value="None">Nenhum</option>
            {%for serie in tema.series%}
                <option value="{{serie.titulo}}">{{serie.titulo}}</option>
            {%endfor%}
        </select><br/>
        <input type="submit" value="Atualizar" class="enviar">
    </form>
    <form method="POST" action="{{url_for('deletar_tema', tema_nome=tema.nome)}}">
        <input type="submit" value="Excluir tema" class="enviar">
    </form>
{%endblock%}